
#Menu .nav-link span {
  color: #0000;
  background: 
    linear-gradient(white 0 0) no-repeat,
    linear-gradient(white 0 0) no-repeat;
  background-size: 0% 100%;
  -webkit-background-clip: padding-box,text;
          background-clip: padding-box,text;
  animation:
  	in-out 2s,
    t .3s .2s both,
    b .3s .3s both;
  transform: rotate(-180deg);
}

@media (max-width: 768px) {
  #Menu {
    height: auto;
    width: 100%;
  }

  #Menu .nav-link div {
    display: inline-block;
  }
}

@media (min-width: 768px) {
  #Menu {
    height: 100%;
    width: auto;
  }

  #Menu .nav-link span {
    writing-mode: vertical-rl;
  }
}

#Menu a.active {
  cursor: default;
  color: white !important;
}


#Menu a.active:hover i {
  color: white !important;
}

#Menu a.nav-link:hover i {
  color: #0dcaf0;
}

@keyframes in-out {
  0% {
    max-height: 0;
  }
  20% {
    max-height: 50vh;
  }
  100% {
  	max-height: 100vh;
  }
}

@keyframes t {
  to { background-size: 150% 100% }
}

@keyframes b {
  to { background-position: -200% 0, 0 0 }
}