
#MenuPageStats .nav-link {
	-webkit-transition: font-size .5s;
	-moz-transition: font-size .5s;
	-o-transition: font-size .5s;
	transition: font-size .5s;
}

#MenuPageStats .active {
	font-size: 28px !important;
}

#MenuPageStats .active:hover {
  color: white !important;
}

#MenuPageStats .nav-link:hover {
  color: #0dcaf0;
}