
#PageHome .BoxSocials {
  position: absolute;
  top: 12%;
  left: 50%;
  transform: translate(-50%, 0);
}

@media (max-width: 768px) {
	#PageHome .BoxScrollDown {
		position: fixed;
		bottom: 120px;
		right: 50px;
	}

	#PageHome .BoxScrollUp {
		position: fixed;
		bottom: 120px;
		right: 50px;
	}
}

@media (min-width: 768px) {
	#PageHome .BoxScrollDown {
		position: fixed;
		bottom: 100px;
		right: 100px;
	}

	#PageHome .BoxScrollUp {
		position: fixed;
		bottom: 100px;
		right: 100px;
	}
}
