
#PageDashMap .leaflet-container {
    background-color: #262626 !important;
}

#PageDashMap .leaflet-control-zoom {
    margin-top: 60px;
}

#PageDashMap .FilterClub-wrapper {
    z-index: 500;
}

#PageDashMap .Warning-wrapper {
    z-index: 500;
}