
.Item:hover {
  background-color: rgba(13, 202, 240, .2) !important;
  color: white;
  cursor: pointer;
}

.Item {
  font-size: 14px;
}

.Item.selected {
  background-color: rgba(13, 202, 240, .7) !important;
  color: white;
}

.Item:nth-child(odd) {
  background-color: rgba(11, 12, 13, .4);
}