@font-face {
  font-family: Impact;
  src: url(/public/fonts/impact.ttf);
}

html,
body,
#root,
#App {
  width: 100%;
  height: 100%;
  font-family: Impact, sans-serif !important;
}

#App {
  overflow-y: hidden;
  overflow-x: hidden;
  background-image: repeating-linear-gradient(-45deg, rgba(255,255,255, 0.07), rgba(255,255,255, 0.07) 1px, transparent 1px, transparent 6px);
  background-size: 4px 4px;
}

#AppMenu {
}

#AppContent {
  overflow-y: auto !important;
  overflow-x: hidden;
}

@media (min-width: 768px) {
  #AppContent {
    height: 100%;
  }
}

#AppContent-content {
  overflow-y: auto;
  overflow-x: hidden;
}

#AppContent-content:has(#PageMap) {
  overflow-y: hidden;
  padding: 0px !important;
}

/* CARDS */

.card {
  transition: border-width 0.1s ease-in-out;
  border-width: 2px !important;
  background-color: #16191C !important;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.15);
}

a .card:hover {
  border-color: #0dcaf0 !important;
  border-width: 3px !important;
}

@media (max-width: 768px) {
  .card img {
    width: 50%;
    margin: auto
  }
}

/* POPUP */

.popup-overlay {
  background-color: rgba(0, 0, 0, .8);
}

.popup-md-content {
  width: 500px;
  max-width: 100%;
}

/* GANTT */

svg .calendar rect,
svg .grid rect {
  fill: rgba(0, 0, 0, 0) !important;
  stroke: #333 !important;
}

svg .calendar line,
svg .grid line {
  stroke: #333 !important;
}

svg .calendar text {
  fill: #6c757d !important;
}

svg .content .bar text {
  fill: #adb5bd !important;
}

/* FLEX */

@media (min-width: 768px) {
  .flex-basis-200 {
    flex-basis: 200px;
  }

  .flex-basis-300 {
    flex-basis: 300px;
  }
}

/* EFFECTS */

.fade-in {
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

/* OTHERS */

canvas {
  width: 100% !important;
}

a {
  text-decoration: none !important;
}

.table>:not(caption)>*>* {
  background-color: transparent !important
}

input, select {
  color: white !important;
}

input[type='range'] {
  accent-color: #0dcaf0;
}

input::placeholder {
  opacity: .4 !important;
}

input:focus,
select:focus {
  border-color: #0dcaf0 !important;
}